{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <div id="logo">
      <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  {% endif %}
  {% if site_name or site_slogan %}
    <span id="sitename">
      {% if site_name %}
        <h2>
          <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        </h2>
      {% endif %}
      {% if site_slogan %}
        <p>{{ site_slogan }}</p>
      {% endif %}
    </span>
  {% endif %}
{% endblock %}
