{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - secondary_menu: Iteams for secondry region for displaying user menu
 * - page.highlighted: Highlighted region
 * - page.feature_box1: Feature Box 1 region
 * - page.feature_box2: Feature Box 2 region
 * - page.feature_box3: Feature Box 3 region
 * - page.content_top: Content top region
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.footer_first: First footer region
 * - page.footer_second: Second footer region
 * - page.footer_third: Third footer region
 * - page.footer_fourth: Fourth footer region
 * - page.footer_fifth: Fifth footer region
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
 <div id="page-wrapper">
  <header role="banner" id="header" class="clearfix">
     <div class="container">
      {{ page.header }} </div>
   </header>

  {# Include a slider. #}
  {% if slider %}
    <div class="flexslider">
      <ul class="slides">
        {% for slide in slider %}
          <li>
            <a href="{{ slide.url }}"><img src="{{ slide.src }}"></a>
            <p class="flex-caption">{{ slide.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
      {% if page.highlighted %}
  <div id="highlighted">
     <div class="container">
      <div class="row">{{ page.highlighted }}</div>
    </div>
   </div>
  {% endif %}
    <div class="container">{{ page.breadcrumb }}</div>
  {# FeaturedBox regions. #}
  {% if page.feature_box1 or page.feature_box2 or page.feature_box3 %}
  <div id="featuredBox">
     <div class="container">
	 <div class="row">
	 {% if page.feature_box1 %}
      <div class="feature_box col-md-4">{{ page.feature_box1 }}</div>
      {% endif %}
      {% if page.feature_box2 %}
      <div class="feature_box col-md-4">{{ page.feature_box2 }}</div>
      {% endif %}
      {% if page.feature_box3 %}
      <div class="feature_box col-md-4">{{ page.feature_box3 }}</div>
      {% endif %}
	  </div>
	  </div>
   </div>
  {% endif %}
  <main id="main" class="clearfix">
     <div>
      <div>
	  {% if page.sidebar_first %}
	  <!-- sidebarFirst -->
         <div id="sidebarFirst" class="sidebar {{ sidebarfirst }}" role="complementary"> {{ page.secondary_menu }}{{ page.sidebar_first }}</div>
         <!-- /sidebarFirst -->
         {% endif %}
		 <!-- MainContent -->
         <div class="{{ conditionalStr }}" role="main"> {% if page.content_top %}
          <div id="content_top">{{ page.content_top }}</div>
          {% endif %}

          {{ page.content }} </div>
		  <!-- /MainContent -->
         {% if page.sidebar_second %}
		 <!-- sidebarSecond -->
         <div id="sidebar-second" class="sidebar {{ sidebarsecond }}" role="complementary"> {{ page.sidebar_second }} </div>
         <!-- /sidebarSecond -->
         {% endif %}</div>
    </div>
   </main>
   <footer class="site-footer">
     <div class=""> {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
      <div class="site-footer__top clearfix">
	      <div class="fooer-nav col-md-3"> {{ page.footer_first }} </div>
        <div class="fooer-nav col-md-3"> {{ page.footer_second }} </div>
        <div class="fooer-nav col-md-3"> {{ page.footer_third }} </div>
        <div class="fooer-nav col-md-3"> {{ page.footer_fourth }} </div>
	</div>
      {% endif %}
      {% if page.footer %}
      <div class="site-footer__bottom"> <div class="container">{{ page.footer }}</div> </div>
      {% endif %} </div>
   </footer>
</div>
